<p>sign-up works!</p>


        <div class="modal-dialog login animated">
            <div class="modal-content">
               <div class="modal-header">
                  
                  <!-- <button type="button" class="close"  aria-hidden="true" data-dismiss="modal" >&times;</button> -->
                  <h4 class="modal-title">sign-up</h4>
              </div>

<div class="modal-body">
        <div class="box">
              <div class="content">

                
    <form class="form" >
        
        <input id="email" class="form-control" type="text" placeholder="Email" name="email">
        <br>
        <span ui-password-panel>
        <input id="password" class="form-control" type="password" placeholder="Password" name="password" pPassword>
        </span>
        <br>
        <input id="firstName" class="form-control" type="text" placeholder="FirstName" name="firstName">
        <br> <input id="lastName" class="form-control" type="text" placeholder="LastName" name="lastName">
        <br><input id="phon" class="form-control" type="number" placeholder="Phon" name="phon">
        <br><input id="address" class="form-control" type="text" placeholder="Address" name="address">
        <br> <input type="radio" name="radio" class="name">פאנית<br>
        <input type="radio" name="radio" class="name">לקוחה פרטית
        <br> <br>  <input class="btn btn-default btn-singup" type="button" value="sign-up">
    </form>
                </div>
        </div>
</div>
</div>
</div>

<input id="password"  type="password" placeholder="Password" name="password" pPassword>
